@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-950 antialiased text-slate-200;
}

/* Glassmorphism Effect */
.glass {
  @apply bg-white/5 backdrop-blur-lg border border-white/10;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  @apply bg-slate-700 rounded-full;
}